<html>

  <h1 >Input the file<br/></h1>
  <div class="Block">
  <label id="lbl"></label>
  <input type='file' (change)="fileChanged($event)">

</div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-grp">
<!--      <input type="file"-->
<!--             [(ngModel)] = employee-->
<!--             accept=".xls, .csv, .xlsx"-->
<!--             onchange="console.log(event.target.files)"-->
<!--      />-->


      <b>- Upload the provider's CSV file</b><br/>
      <button type="submit">Submit</button>
       <br/><br/><br/><br/>
    </div>
  </form>
  <h1>Inputted Records</h1>
<table border="1">
    <thead>
      <th>InputID</th>
      <th>FirstName</th>
      <th>MiddleName</th>
      <th>LastName</th>
      <th>NationalProviderIdentifier</th>
<!--      <th>SubSpeciality</th>-->
      <th>Specialty</th>
      <th>PrimaryPhone</th>
      <th>PrimaryFax</th>
      <th>AddressLine1</th>
      <th>AddressLine2</th>
      <th>City</th>
      <th>State</th>
      <th>ZipCode</th>
    </thead>

      <tr *ngFor = "let item of myData?.Input">
        <td>{{item.InputID}}</td>
        <td>{{item.FirstName}}</td>
        <td>{{item.MiddleName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.NationalProviderIdentifier}}</td>
<!--        <td>{{item.SubSpeciality}}</td>-->
        <td>{{item.Specialty}}</td>
        <td>{{item.PrimaryPhone}}</td>
        <td>{{item.PrimaryFax}}</td>
        <td>{{item.AddressLine1}}</td>
        <td>{{item.AddressLine2}}</td>
        <td>{{item.City}}</td>
        <td>{{item.State}}</td>
        <td>{{item.ZipCode}}</td>
      </tr>

  </table>
<h1>Matching Records</h1>
<table border="1">
    <thead>
      <th>InputID</th>
      <th>FirstName</th>
      <th>MiddleName</th>
      <th>LastName</th>
      <th>NationalProviderIdentifier</th>
<!--      <th>SubSpeciality</th>-->
      <th>Specialty</th>
      <th>PrimaryPhone</th>
      <th>PrimaryFax</th>
      <th>AddressLine1</th>
      <th>AddressLine2</th>
      <th>City</th>
      <th>State</th>
      <th>ZipCode</th>
    </thead>

      <tr *ngFor = "let item of myData?.Output">
        <td>{{item.InputID}}</td>
        <td>{{item.FirstName}}</td>
        <td>{{item.MiddleName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.NationalProviderIdentifier}}</td>
<!--        <td>{{item.SubSpeciality}}</td>-->
        <td>{{item.Specialty}}</td>
        <td>{{item.PrimaryPhone}}</td>
        <td>{{item.PrimaryFax}}</td>
        <td>{{item.AddressLine1}}</td>
        <td>{{item.AddressLine2}}</td>
        <td>{{item.City}}</td>
        <td>{{item.State}}</td>
        <td>{{item.ZipCode}}</td>
      </tr>

  </table>

</html>





<!--  </form>-->
<!--  <form>-->
<!--    <input ngModel-->
<!--           type="file"-->
<!--           #FileInput-->
<!--           accept=".xls, .csv, .xlsx"-->
<!--           (change)="onFileInputChanged($event)"/>-->
<!--&lt;!&ndash;           onchange="console.log(event.target.files)"&ndash;&gt;-->
<!--&lt;!&ndash;    (ngSubmit)="onSubmit(usersFile.value)"&ndash;&gt;-->
<!--    <b>- Upload the provider's CSV file</b><br/>-->
<!--    <button (buttonClick)="FileInput.click()"></button>-->
<!--  </form>-->



<!--<form (ngSubmit)="onSubmit()">-->
<!--  <input type="file"-->
<!--         class="file-upload"-->
<!--         onchange="console.log(event.target.files)">-->
<!--</form>-->
