<div>
  <html>


<h1>Provider's Duplicate Input data</h1>
<button type="button" ng-click="csvTojson()">Display Input</button>
  <table border="1">
    <thead>
      <th>FirstName</th>
      <th>MiddleName</th>
      <th>LastName</th>
      <th>NationalProviderIdentifier</th>
      <th>SubSpeciality</th>
      <th>Specialty</th>
      <th>PrimaryPhone</th>
      <th>PrimaryFax</th>
      <th>AddressLine1</th>
      <th>AddressLine2</th>
      <th>City</th>
      <th>State</th>
      <th>ZipCode</th>
    </thead>

      <tr *ngFor = "let item of employees">
        <td>{{item.FirstName}}</td>
        <td>{{item.MiddleName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.NationalProviderIdentifier}}</td>
        <td>{{item.SubSpeciality}}</td>
        <td>{{item.Specialty}}</td>
        <td>{{item.PrimaryPhone}}</td>
        <td>{{item.PrimaryFax}}</td>
        <td>{{item.AddressLine1}}</td>
        <td>{{item.AddressLine2}}</td>
        <td>{{item.City}}</td>
        <td>{{item.State}}</td>
        <td>{{item.ZipCode}}</td>
      </tr>

  </table>
</html>
</div>
